<%- include('./common/navbar') %>
<div class="row mx-0 mt-5">
  <div class="col-md-6 px-0 mx-auto">
    <%- include('./messages') %>
    <div class="card">
      <div class="card-body text-center text-secondary">
        <i class="fab fa-node-js fa-3x pb-3"></i>
        <h4 class="pb-1">Node Mailgun App</h4>
        <p class="card-text mb-0">
          Enter details and click on the button below to send mail
        </p>
        <%- include('./form') %>
      </div>
    </div>
  </div>
</div>
